 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
 }
 header {
    background-color: #111;
    color: white;
    padding: 20;
    text-align: center;
 }
 nav {
    background-color: #b30000;
    padding: 10px;
    text-align: center;
 }
 nav a {
color: white;
margin: 0 15px;
text-decoration: none;
font-weight: bold;
 }
 nav a:hover {
text-decoration: underline;
 }
 main {
    padding: 20px;
 }
 article h2 {
margin-top: 0;
 }
 article small {
    color:gray;

 }
 article a {
    color: #b30000;
    font-weight: bold;
    text-decoration: none;
 }
 footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
 }